@media (max-width: 768px) {
  #hero {
    text-align: center;
  }
  #about,
  #skills,
  #projects,
  #contact {
    margin-top: 4rem;
  }
  .main-text {
    margin-top: 3rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .timeline::after {
    left: 20px;
  }
  .timeline-item {
    width: 100%;
    left: 0;
    text-align: left;
    padding-left: 40px;
  }
  .timeline-item::after {
    left: 10px;
  }
  .icons {
    font-size: 3rem;
    margin-top: 30px;
  }
}
@media (max-width: 767.98px) {
  /* Center text on smaller screens */
  #hero .text-md-start {
    text-align: center !important;
  }

  #hero .text-md-end {
    text-align: center !important;
  }

  .navbar-nav {
    text-align: center;
  }
  .hero-animation {
    margin-top: -50px;
  }
  .about-section-title {
    font-size: 1.75rem;
  }

  .about-heading {
    font-size: 1.3rem;
  }

  .about-text {
    font-size: 0.95rem;
  }
  .project-card {
    padding: 1rem;
  }
  .project-image {
    margin-bottom: 1rem;
  }
  .project-details {
    padding: 0;
  }
  #projects {
    opacity: 1 !important;
    transform: none !important;
  }
}
