@media (max-width: 767.98px) {
  #hero .text-md-start {
    text-align: center !important;
  }

  #hero .text-md-end {
    text-align: center !important;
  }

  .navbar-nav {
    text-align: center;
  }
  .hero-animation {
    margin-top: -50px;
  }
  .about-section-title {
    font-size: 1.75rem;
  }

  .about-heading {
    font-size: 1.3rem;
  }

  .about-text {
    font-size: 0.95rem;
  }
  .project-card {
    padding: 1rem;
  }
  .project-image {
    margin-bottom: 1rem;
  }
  .project-details {
    padding: 0;
  }
  #projects {
    opacity: 1 !important;
    transform: none !important;
  }
  .d-none.d-md-block {
    display: none !important;
  }
}
